
@page

@using Shared.Blocks  

@namespace EpiBlazor.Pages

@Layout MainLayout

@model EpiBlazor.Pages.StandardPageModel
@{
  ViewData["Title"] = Model.epiPage.Name;
}

<h1>@Model.epiPage.Name</h1>
@if (!(Model.epiPage.MainBody is null))
{
@Model.epiPage.MainBody.ToHtmlString()

}


@(await Html.RenderComponentAsync<ConentAreaEpiComponent>(new { contentArea=Model.epiPage.MainContentArea }))